.modal-dialog{
	position: relative;
    top: 45%;
    transform: translateY(-50%) !important;
    
  animation-name: example;
  animation-duration: 0.7s;
}

@keyframes example {
  0%   {left:-50%;}
  100% {left:0px;}
}

.btn-jumbo{
	background-color:#ffc53a;
    color:#12355B;
border:1px solid black;
width:auto;
border-radius: 15px;
font-size:50%;
padding:2%5%;
display:block;
margin-left:auto;
margin-right:auto;
cursor:pointer;
}

a:hover {
    color: #12355B;
    text-decoration: none !important;

}
.modal-header{
background-color:#fac53a;
}

.h6, h6 {
 padding:5%;
 }
 
 
/*.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 10;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
*/


.disappear {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: #ffc53a;
	animation: init 3s ease-out forwards;
}

@-webkit-keyframes init {
	0% {
		visibility: hidden;
		display: none;
	}
	25% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		z-index: -5;
	}
}

.disappear img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25vh; /*vw*/
	width: 50%;
}



.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
background-color:#E3292A;
color:black;
}
.table td, 
.table th {
vertical-align:middle !important;
}
.licenzia{
background-color:#E3292A;
color:black;
border: 1px solid black !important;
}

.btn-outline-primary:focus {
    box-shadow: none;
}
.btn-outline-primary
{
color: black;
}
.btn-outline-primary:hover
{
background-color:#E3292A;
color:black;
}
.btn-outline-primary:focus{
border:none;
background-color:#E3292A;
}
.btn-outline-primary:active{
background-color:#E3292A;
color:black;
}
.center{
text-align:center;
width:auto;
}

.dropdown-menu-right{
border: 1px solid black;
border-radius:0px;
}

/*login e nostri ristoranti versione mobile*/
.menu-option{
/*margin-left:auto;*/
margin-right:auto;
}

.mb-0{
font-size:20px;
margin-left:auto;
margin-right:auto;
}

.page-footer{
	background-color: #FFC53A;
}

.d-inline-block{
background-color:black;
}

.navbar-brand{
max-width:70%;
}

.btn{
line-height: 2 !important;
    border: 1px solid black !important;
background-color:#ffc53a;
/*color: black !important;*/
}

.btn-mm{
/*AGGIUNTO DA ME*/
line-height: 1.3 !important;
float:right;
}

.jumbotron {
    padding: 15%!important;
	background-image: url("../images/FastFood.jpg");
	background-size min-height: 450px !important;
	background-repeat: no-repeat;
	background-position: center;
	width: auto;
    height:auto;
	color: #000000;
    margin-bottom: auto;
    border-radius: 0 !important;
}

.scritta {
	width: 100%;
	margin: auto;
	/*margin-top:100px;*/
	/*border-top: solid black 2px;
    border-bottom:solid black 2px;
    border:solid black 1px;*/
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.7) !important;
}


.scrittaJumbo {
	font-family: "Mountains";
	font-weight: bold;
	padding:5%;
	text-align:center;
	margin-bottom:1.5rem;
font-size:60px;
text-color:#12355B!important;
}

.jumbotron img{
width:50%;
}

.footer {
}
/* MENU */
.remove-img{
	color:#e60000;
    margin-top:-18px;
    text-decoration: underline;
	cursor: pointer;
    font-size: 10px;
    text-align:right;
}
.dish-img img{
	max-width:70px; 
	max-height:100px; 
    vertical-align: middle;
    border-radius: 5%;
}
.glyph, #divCatAddNew{
	cursor: pointer;
}
.notification-bell{
	height:50%;
	padding: 6px;
}

.ok-fattorino{
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

#si-glyph-bell g{
	vertical-align: bottom;
	fill:white;
}

#MenuAddNew:hover{
	background-color:#b1b2b4;
}

.menuLinkContainer{
	padding: 0px;
}

.menuLink{
	color:#495057;
    margin: 0px; 
    display: block;
    width: 100%; 
    height: 100%;
}
	/*HOVER NELLE IMMAGINI DEL MENU*/
.dish-img img:hover{
	/*background-color:green;
	opacity: 0.4;
  	filter:invert(100%);
  	filter: alpha(opacity=40);*/
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
}

/* Add styles to the form container */
.form-container {
  padding: 10px;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus{
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover{
  opacity: 1;
}

	/* END MENU ADD CATEGORIA */

.edit-input,.edit-accept,.edit-undo,.hidden{
	display: none;
}

.dish-title a{
	cursor: pointer;
    color:#12355B!important;
}
.dish-title a:hover{
    color:#12355B; !important; 
	text-decoration: underline !important;
}


.MenuHover{
	margin-top:5% !important;
	margin-bottom:5% !important;
}

/*HOVER ARANCIONE NEL MENU*/
.MenuHover:hover{
/*	border-radius: 15px;
	background-color:#E3292A;
    -webkit-animation-name: fadeOrange; 
	-webkit-animation-duration: 0.5s; 
    animation-name: fadeOrange;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;*/
}

.dish-img{
	padding: 25% 20%;
}



@media (max-width: 768px) {
.fattorinoTable{
display:block; 
overflow-x:auto; 
white-space: nowrap;
}

.administratorTable{
display:block; 
overflow-x:auto; 
white-space: nowrap;
}

   .MenuHover{
   		width:500px;
   }
   
   #MenuAddNew{
   		margin: 5% 10%;
   }
}

@media screen and (max-width: 1500px) {
  .administratorTable{
  display:block; 
  overflow-x:auto; 
  white-space: nowrap;
  }
}


@media only screen and (min-width:768px) and (max-width:1200px) {
	.dish-content{
		margin-left:40px !important;
    }
}

@media only screen and (min-width:768px) and (max-width:1050px) {
	.home-text{
		font-size:200% !important;
    }
}

@media screen and (max-width: 1300px) {

.workManageTable{
display:block; 
overflow-x:auto; 
white-space: nowrap;
}
}




@media screen and (max-width: 576px) {
.FoodMenu .page-title{
	/*padding-top:50px !important;*/
}
.administratorTable{
display:block; 
overflow-x:auto; 
white-space: nowrap;
}

  	.dish-img{
    	padding: 2% 40%;
	}
   .MenuHover{
   		width:100%;
   }
}

.dish-title{
	padding-top: 5%;
}

.MenuRemove{
	position: absolute;
    top: 12%;
    right: 8%;
}

.CategoryRemove{
	display:inline-block;
}

.MenuRemove .si-glyph-trash,.CategoryRemove .si-glyph-trash{
	width:/*16px*/20px;
    height:/*16px*/20px;
}

.si-glyph-trash:hover{
	fill:white;
}

/* Safari 4.0 - 8.0 */

@-webkit-keyframes fadeOrange {
	from{background-color: white;}
  	to {background-color: #ff832b;color:white;}
}

/* Standard syntax */
@keyframes fadeOrange {
	from{background-color: white;}
  to {background-color: #ff832b;color:white;}
}

.btn-2 {
  background-color: #ffc53a;
}
.btn-2 .round {
  background-color: #D2691E;
}

.type-1 a {
  color:black !important;
  text-decoration: none;
  -moz-border-radius: .25rem  !important;
  -webkit-border-radius: .25rem  !important;
  border-radius:  .25rem !important;
  padding: 12px 53px 12px 23px;
  color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  position: relative;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
}
.type-1 a span {
  position: relative;
  z-index: 3;
}
.type-1 a .round {
  -moz-border-radius: .25rem  !important;
  -webkit-border-radius: .25rem  !important;
  border-radius: .25rem  !important;
  width: 38px;
  height: 38px;
  position: absolute;
  right: 3px;
  top: 3px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 2;
}
.type-1 .round i {
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 50%;
  margin-left: -4px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.type-1 .txt {
  font-size: 14px;
  line-height: 1.45;
}

.type-1 a:hover {
  padding-left: 48px;
  padding-right: 28px;
}
.type-1 a:hover .round {
  width: calc(100% - 6px);
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}
.type-1 a:hover .round i {
  left: 12%;
}
.type-1 {
	margin: 6%;
}

.footerLogo{
    display: block;
    max-width: 60%;
    height: auto;
    margin-left: auto;
margin-right: auto;
    margin-top: 2%;
    margin-bottom: 5%;
}

.FoodMenu .page-title{
	padding-top:2%;
	padding-bottom:2%;
}

.FoodMenu h1{
	font-family: "Mountains";
}

.edit_hover_class , .menu-title{
	/*display:inline-block;*/
display: block!important;
background-color:#12355b;
color:white;
text-align:center;
border-radius:.25rem;
padding-bottom: 5px;
}

.glyph{
    width: 20px/*16px*/;
    height: 20px/*16px*/;
}

/* END MENU */

/* TEXT PROPRIETIES */
@font-face {
  font-family: 'Billy';
  src: URL('Billy_Ohio.ttf') format('truetype');
}

@font-face {
  font-family: 'Insanibu';
  src: URL('Subway_Lowercase.ttf') format('truetype');
}

@font-face {
  font-family: 'Mountains';
  src: URL('BeautyMountains.ttf') format('truetype');
}

.NotificationLine{
  background-color:grey;
  color:#E3292A;
}

.body{
	font-family: Arial;
overflow: -moz-scrollbar-none;
-ms-overflow-style:none;
}

body::-webkit-scrollbar{
     width:0 !important
}

.grey-text{
	color:#12355B !important;
}

.middle-error{
	margin:auto;
    padding-top: 15%;
    padding-bottom: 15%;
}

.white-text{
	color: black;
}

.home-text{
	margin:auto;
    padding: 10% 10%;
    font-family: Arial;
    font-size: 300%;
    line-height: 100%;
}
@media screen and (min-width: 767px) and (max-width: 769px) {
	.col-md-4{    
    	display: contents !important;
    }
    .col-md-4 > .menu-block{
    	margin:auto;
    }
    .footerLogo{
    	margin-top: 0 !important;
    }
}
@media screen and (max-width: 480px) {

.fattorinoTable{
display:block; 
overflow-x:auto; 
white-space: nowrap;
}

.administratorTable{
display:block; 
overflow-x:auto; 
white-space: nowrap;
}


.home-text{
   padding: 15% 0;
   max-width:100%;
}
}

/* END TEXT PROPRIETIES */

/* HOME BUTTON */

header .home{
  /*background: url('corner01.png') no-repeat;*/
  height: 34px;
  left: 54px;
  letter-spacing: 1px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 100%;
  width: 206px;
}

/* END HOME BUTTON */

/* SLIDER 

.slider-image{
	max-height:700px;
}

 END SLIDER */

/* RESTAURANT ADMIN */
#MenuAddNew{
	background-color: #88898c;
    border-style: dashed;
    border-width: 2px;
    border-color: #cacad1;
    margin-bottom: 2%;
}

.PlusAddNew{
	font-size:500%;
    color: #cacad1;
}
/* END RESTARUANT ADMIN */
.yellow{
    background-color:#FFC53A;
}

.description{
	text-align:center;
    font-weight: bold;
}

header a,.nav-link span, h2, .copyright, .btn-menu, .description{
	color:#12355B;
}

.menuLogo{
	margin-left: 0%;
	display:block;
    max-width: 30%;
    max-height: 100px !important;  
}

header{
    font-family: Arial;
}

hr { background-color: white; height: 1px; border: 0; }

.container-fluid-noPadding{
	 padding: 0px !important;
}

.headerImgSize{
    max-width: 100%;
    max-height: 90%;
    display: block;
    padding-top:10%;
    margin: auto;
}

.topMargin{
	margin-top:1.5rem;
}

.topPadding{
	padding-top:1.5rem;
}

h2{
	text-align:center;
	margin-bottom:1.5rem;
font-weight:bold;
/*font-size:60px;*/
    font-family:"Mountains" ;
}

.bg1{
    background-color:#FFFFFF;
}

.menu-option:hover, .btn-primary:hover{
	/*background-color:#12355b !important;*/
	/*border: 1px  #000000 !important;*/
}

.btn-menu{
	font-weight:bold !important;
	background-color:none;
border: 1px solid black!important;
	color:#12355B;
}

.btn-menu:hover{
	background-color:#12355b !important;
    color: white;
}

.mainForm:hover, .dropdown-menu:hover{
	/*background-color:white !important;*/
}

.dropdown-menu, .mainForm{
	background-color: #FFC53A!important;
}

.pl-3, .px-3 {
     margin-left: 1rem!important; 
	 padding-left:0rem !important;
}
.pr-3, .px-3 {
     margin-right: 1rem!important; 
	 padding-right:0 !important;
}
.pb-2, .py-2 {
         margin-bottom: .5rem!important; 
	 padding-bottom:0 !important;
}

.pt-2, .py-2 {
     margin-top: .5rem!important; 
	 padding-bottom:0 !important;
}


.embed-responsive-16by9::before {
    padding-top: 0% !important;
}

.btn-primary {
  background-color:#12355B!important;
  color:white !important;
  border: 2px solid #d9d9d9 !important;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 15px;
  /*border-radius: 40px;*/
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-primary:hover {
  color: #FFF;
  background: rgba(58, 133, 191, 0.75);
  border: 2px solid rgba(58, 133, 191, 0.75);
}





.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {

.administratorTable{
display:block; 
overflow-x:auto; 
white-space: nowrap;
}

    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px; }
	table#cart tbody tr td:first-child { background:#12355B ; color: #EAEFBD;  }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}

.btn-success {
	background-color:#ffc53a;
    color:black;
border:1px solid black!important;
width:45%;
}

.btn-success:hover{
background-color:#ffc53a;
color:black;
}

.btn-lg{
	background-color:#ffc53a;
    color:black;
border:1px solid black;
width:45%;
}

.botyellow {
	background-color: yellow !important;
    color: red !important;
    font-weight: bold !important;
    border-color: #B8860B !important;
}