/*
 * Specific styles of signin, register, component
 */
/*
 * General styles
 */

body, html{
     height: 100%;
 	background-repeat: no-repeat;
 	background-color:/*rgb(255,199,44)*/ #FFC53A !important;
 	font-family: 'Oxygen', sans-serif;
}

.input-group-addon{
	border-left: 1px solid #cc9f23 !important;
    border-top: 1px solid #cc9f23 !important;
    border-bottom: 1px solid #cc9f23 !important;
}

input{
	border: 1px solid #cc9f23 !important;
}

.main{
 	/*margin-top: 70px;*/
    margin-bottom:70px;
}

@font-face {
  font-family: 'Mountains';
  src: URL('BeautyMountains.ttf') format('truetype');
}
h1.title { 
	/*font-size: 50px;
	font-family: 'Passion One', cursive; 
	font-weight: 400; */
    font-family: "Mountains";
    font-weight:bold;
    color:#12355B;
}

hr{
	width: 10%;
	color:rgb(218,41,28) !important;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 10px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	color:/*rgb(218,41,28)*/ #12355B !important;

}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 330px;
    padding: 10px 40px;

}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}

.btn-primary {
    color:#12355B/*rgb(218,41,28)*/ !important;
	background-color:#FFC53A !important;
	border: 1px solid black !important;
}
