body { -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; font-family: 'lato', sans-serif; letter-spacing: 0px; font-size: 16px; color: black; font-weight: 400; line-height: 27px; }
h1, h2, h3, h4, h5, h6 { color: #121312; margin: 0px 0px 15px 0px; font-weight: 400; font-family: 'lato', serif; }
h1 { font-size: 38px; line-height: 48px; }
h2 { font-size: 36px; line-height: 42px; font-weight:bold; }
h3 { font-size: 26px; line-height: 36px; }
h4 { font-size: 20px; line-height: 26px; }
h5 { font-size: 16px; }
h6 { font-size: 12px; }
p { margin: 0 0 0px; line-height: 1.6; text-align:center; font-weight:bold; }
p:last-child { margin: 0px; }
ul, ol { list-style: none; margin: 0; padding: 0; }
a { text-decoration: none; color: #121312; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
a:focus, a:hover { text-decoration: none; color: #1aa644; }






.img-fluid {
    max-width: 100%;
    height: auto;
    padding-bottom: 4%;
    padding-top: 4%;
}
.menu-block { margin-bottom: 30px; }
.menu-title { /*border: 3px solid black/*#e0e6e3*/; margin-bottom: 36px; padding-bottom: 10px; }
.menu-content { border-bottom: 1px solid black/*#e0e6e3*/; margin-bottom: 30px; }
.dish-img { }
.dish-content { margin-top: 12px; margin-bottom: 40px; }
.dish-meta { font-size: 12px; text-transform: uppercase; display: block; width: 210px; line-height: 1.7; }
.dish-title { margin-bottom: 6px; font-size: 15px; text-transform: uppercase; font-weight: bold; position: relative; }
.dish-price { /*position: absolute;*/ right: 16px; top: 0px; font-size: 26px; color: black; font-weight: 500; font-family: 'lato', serif; }
.well-block .dish-meta { width: 100%; }
.well-block .dish-price { font-size: 26px; color: #12355b; font-weight: 500; font-family: 'lato', serif; position: inherit; }